body {
    background-color: #FFF9F5;
    color: #383838;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    padding: 30px 40px;
}

a {
    color: #383838;
    text-decoration: underline;
}

h1 {
    color: #A2503C;
    font-weight: 900;
    font-size: 48px;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

footer {
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
}

.container {
    min-height: 85vh;
}

.left-panel {
    background-color: #F4CFC0;
    border-radius: 8px;
    padding: 30px 20px;
    box-shadow: 5px 5px 7px rgb(0, 0, 0, .15);
    min-height: 60vh;
}

.right-panel {
    background-color: #FFEFE8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 7px rgb(0, 0, 0, .15);
}

#search-form {
    padding: 0;
}

.search-bar {
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, .05);
    margin-bottom: 30px;
}

.form-control {
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.search-button {
    background-color: #A2503C;
    border: none;
    border-radius: 0 8px 8px 0;
}

.fa-search {
    color: white;
}

.results {
    border-bottom: white 1px solid;
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 0 20px 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.clear-button {
    border: solid white 2px;
    border-radius: 25px;
    color: white;
    font-weight: 300;
    margin-top: 30px;
    padding: 7px 25px;
    text-transform: uppercase;
}

.clear-button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    transition: .2s;
}

#current-city {
    text-transform: capitalize;
}

#current-date {
    margin-left: 15px;
}

#current-stats {
    margin: 40px 0;
    z-index: 5;
}

#current-UV {
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    padding: 5px 10px;
}

/* UV Index colours */

.green {
    background-color: rgb(77, 131, 77);
}

.yellow {
    background-color: rgb(238, 220, 62);
}

.orange {
    background-color: rgb(241, 176, 55);
}

.red {
    background-color: tomato;
}

.violet {
    background-color: rgb(134, 62, 134);
}

.forecast-wrap {
    margin-top: 30px;
}

.future-forecast-block {
    border-radius: 8px;
    background-color: #F4CFC0;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, .02);
    font-size: 14px;
    padding: 10px;
    margin-right:15px;
}

.forecast-date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.forecast-stat {
    margin: 5px 0 0 0;
}

.forecast-icon {
    margin: 10px 0;
    color: #A2503C;
}

#current-icon {
    color: #eec2afc0;
    font-size: 300px;
    position: absolute;
    top: 30px;
    right: 40px;
}